# اعتبر المشروع كله لغة دارت
* linguist-language=Dart

# خريطة الملفات التانية اعتبرها ملفات عادية مش برمجية
*.java linguist-documentation=true
*.html linguist-documentation=true
*.swift linguist-documentation=true
*.js linguist-documentation=true