android/* linguist-documentation=true
ios/* linguist-documentation=true
web/* linguist-documentation=true
windows/* linguist-documentation=true
mac/* linguist-documentation=true
linux/* linguist-documentation=true